// COLORS
$pink: rgb(255, 82, 191);
$very-pale-cyan: rgb(235, 251, 255);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

// TIPOGRAPHY
$font-size: 1.8rem;
$font-family-heading: "Poppins", sans-serif;
$font-family-body: "Open Sans", sans-serif;
$font-weight-heading: 600;
$font-weight-body: 400;
$font-weight-cta: 700;

// MEDIA QUERIES
$bp-1000: 62.5em;
$bp-800: 50em;
$bp-600: 37.5em;
$bp-375: 23.5em;
